# Dependencias
node_modules/

# Builds
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/extensions.json
.idea

# Archivos temporales
*.tmp
*.temp

# Backend específico
Backend/node_modules/

# Frontend específico
Frontend/node_modules/
Frontend/dist/